.navbar {
  padding: 20px;

  &::after {
    display: table;
    content: " ";
    clear: both;
  }

  .left-side {
    float: left;
    padding-left: 10px;

    img {
      width: 50px;
    }
  }

  .right-side {
    float: right;
    padding-top: 5px;

    .shopping-card {
      img {
        width: 30px;
      }
    }
    .dropdown-menu {
      .button {
        position: relative;
        flex-direction: column;
        margin-left: 20px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #e8f7fd;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
        transform: scale(1);
        transition: all 0.3s ease-in-out;
        z-index: 0;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          background: -webkit-linear-gradient(-45deg, #e8f7fd, #bed0ee);
          background: -moz-linear-gradient(-45deg, #e8f7fd, #bed0ee);
          background: linear-gradient(-45deg, #e8f7fd, #bed0ee);
          transform: rotate(360deg);
          z-index: -100;
          transform: rotate(0deg);
          transition: 0.6s;
        }

        &.active {
          transform: scale(1.15);

          &::before {
            transform: rotate(360deg);
          }
        }

        .bar {
          display: inline-block;
          width: 14px;
          height: 2px;
          border-radius: 100px;
          background-color: #1a1a1a;
          margin-bottom: 3px;

          &.middle {
            width: 8px;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      .dropdown-items-container {
        // display: none;
        position: absolute;
        right: 0;
        background-color: transparent;
        margin-top: 15px;

        &.show {
          display: block;

          .dropdown-item {
            visibility: visible;
            opacity: 1;

            &:nth-child(1) {
              transform: translateX(0);
            }

            &:nth-child(2) {
              transform: translateX(0);
            }
          }
        }

        .dropdown-item {
          padding: 15px 20px;
          margin-bottom: 5px;
          background-position: center center;
          background-size: contain;
          background-repeat: no-repeat;
          visibility: hidden;
          opacity: 0;

          &:nth-child(1) {
            transform: translateX(50px);
            transition: 0.3s ease-in-out;
          }

          &:nth-child(2) {
            transform: translateX(40px);
            transition: 0.4s ease-in-out;
          }

          .item-icon {
            width: 13px;
            margin-right: 5px;
          }

          .item-text {
            white-space: nowrap;
            font-size: 13px;
          }
        }
      }
    }
  }
}
