* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Comfortaa", Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: rgb(237, 242, 250);
  background-image: $light_theme_bg;
}

.secondary-font {
  font-family: -apple-system, BlinkMacSystemFont, "Caveat", Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.w-100 {
  width: 100% !important;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;

  &:focus {
    outline: none;
  }
}

.page-padding {
  padding: 20px 30px 35px;
}

.light-mode {
  color: $light_theme_primary_text_color !important;
}

.d-block {
  display: block !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-flex {
  display: flex !important;

  &.justify-content-center {
    justify-content: center !important;
  }

  &.align-items-center {
    align-items: center !important;
  }

  &.justify-space-between {
    justify-content: space-between;
  }
}

.p-relative {
  position: relative !important;
}

.p-absolute {
  position: absolute !important;

  &.from-top {
    top: 0 !important;
  }
  &.from-bottom {
    bottom: 0 !important;
  }
  &.from-left {
    left: 0 !important;
  }
  &.from-right {
    right: 0 !important;
  }
}

.text-cap {
  text-transform: capitalize !important;
}
