.t-from-top-1 {
  transition: 0.3s;
  transform: translateY(-15px);
  visibility: hidden;
  opacity: 0;
}

.t-from-top-2 {
  transition: 0.4s;
  transform: translateY(-30px);
  visibility: hidden;
  opacity: 0;
}

.t-from-top-3 {
  transition: 0.5s;
  transform: translateY(-45px);
  visibility: hidden;
  opacity: 0;
}

.t-from-right-1 {
  transition: 0.3s;
  transform: translateX(15px);
  visibility: hidden;
  opacity: 0;
}

.t-from-right-2 {
  transition: 0.4s;
  transform: translateX(30px);
  visibility: hidden;
  opacity: 0;
}

.t-from-right-3 {
  transition: 0.5s;
  transform: translateX(45px);
  visibility: hidden;
  opacity: 0;
}

.t-from-bottom-1 {
  transition: 0.3s;
  transform: translateY(15px);
  visibility: hidden;
  opacity: 0;
}

.t-from-bottom-2 {
  transition: 0.4s;
  transform: translateY(30px);
  visibility: hidden;
  opacity: 0;
}

.t-from-bottom-3 {
  transition: 0.5s;
  transform: translateY(45px);
  visibility: hidden;
  opacity: 0;
}

.t-from-left-1 {
  transition: 0.3s;
  transform: translateX(-15px);
  visibility: hidden;
  opacity: 0;
}

.t-from-left-2 {
  transition: 0.4s;
  transform: translateX(-30px);
  visibility: hidden;
  opacity: 0;
}

.t-from-left-3 {
  transition: 0.5s;
  transform: translateX(-45px);
  visibility: hidden;
  opacity: 0;
}

.clear-transition {
  transform: translate(0, 0);
  visibility: visible;
  opacity: 1;
}
